<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
        <link rel="stylesheet" th:href="@{/assets/css/index.css}" type="text/css" >
        <link href='http://cdn.repository.webfont.com/webfonts/nomal/132656/46604/5d62513ef629d81288c7ad3f.css' rel='stylesheet' type='text/css' />
        <link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/index.js}"></script>
    </head>
    <body>
           <div class="logo">
               <div class="css1b6d36a24720630">达州市科安信息技术有限公司</div>
            </div>                              <!--====头部菜单====-->
        <div class="headmenu">
            <div class="menu">
                <i class="fa" id="ib" style="font-size: 35px">&#xf0c9</i>
            </div>
            <div class="menuh">
                <div class="col-4"><a href="#"><p>首页</p></a></div>
                <div class="col-4"><a href="#"><p>业务范围</p></a></div>
                <div class="col-4"><a href="#"><p>联系我们</p></a></div>
            </div>
        </div>
                
        
                                        <!--====主体内容====-->
        <div class="context">
            <div class="ben">
                <h2 class="benren">路边停车无人值守</h2>
                <h3 class="benren1">智能车位锁——智能化、科学化管理路边停车</h3>
                <a href="tel:18081516663"><div class="contact">
                    <h4 class="understand">进一步了解></h4>
                    </div>
                </a>
            </div>
        </div>
                                        <!--====详情内容====-->
        <div class="details">
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia">&#Xf1eb</i>
                    </div>
                    <h4 class="xiaob">NBIoT物联网</h4>
                    <p>利用成熟的NBIoT联网技术，把车位连接上互联网，让车位信息实时掌握</p>
                </div>
            </div>
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia1">&#Xf235</i>
                    </div>
                    <h4 class="xiaob">无人值守</h4>
                    <p>无人值守，省去了人员成本，以及由管理收费员所带来的企业其它管理成本，并且能全时段管理车位</p>
                </div>
            </div>
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia2">&#Xf2db</i>
                    </div>
                    <h4 class="xiaob">智能芯</h4>
                    <p>利用智能传感器及智能数据处理芯片，实时处理车位上的发生的数据</p>
                </div>
            </div>
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia3">&#Xf10b</i>
                    </div>
                    <h4 class="xiaob">移动支付</h4>
                    <p>利用成熟的移动支付技术，使得车主能自助缴费，让支付过程变得方便快捷</p>
                </div>
            </div>
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia4">&#Xf1e1</i>
                    </div>
                    <h4 class="xiaob">车位共享</h4>
                    <p>本系统进一步拓展可让私家车的车位共享出来，让城市中的停车难，得到一些缓解，车位所有者也能创收</p>
                </div>
            </div>
            <div class="col-2">
                <div class="detone">
                    <div class="ico">
                        <i class="fa" id="ia5">&#Xf240</i>
                    </div>
                    <h4 class="xiaob">低功耗</h4>
                    <p>利用NBIoT和智能芯片的超低功耗，使用工业电池，使本产品五年不用充电、换电池</p>
                </div>
            </div>

        </div>
                                        <!--====页    脚====-->
        <div class="fooler">
            <p class="copy">©2014-2019 达州市科安信息技术有限公司　　蜀ICP备15020962号-1 &nbsp;&nbsp;  地址：达州市通川区中心广场H59　　电话：18081516663</p>
            
        </div>
    </body>
</html>